<div class="color-picker" *ngIf="show" [style.height.px]="cpOptions.dialogHeight" [style.width.px]="cpOptions.dialogWidth"
    [style.top.px]="top" [style.left.px]="left" [style.position]="position">
    <div class="arrow arrow-{{actualPosition}}" [style.top.px]="arrowTop"></div>

    <div class="hue-wrap">
        <div [slider] [style.background-color]="hueSliderColor" [rgX]="1" [rgY]="1" (newValue)="setSaturationAndBrightness($event)"
            class="saturation-lightness">
            <div [style.left]="slider.s" [style.top]="slider.v" class="cursor-sv"></div>
        </div>
    </div>
    <div class="controlls-wrap">

        <div class="selected-color-background">
            <div [style.background-color]="outputColor" class="selected-color"></div>
        </div>

        <div class="sliders-wrap">
            <div [slider] [rgX]="1" (newValue)="setHue($event)" class="hue">
                <div [style.left]="slider.h" class="cursor"></div>
            </div>

            <div *ngIf="cpOptions.alpha" class="alpha-color-background">
                <div [slider] [style.background]="alphaSliderColor" [rgX]="1" (newValue)="setAlpha($event)" class="alpha">
                    <div [style.left]="slider.a" class="cursor"></div>
                </div>
            </div>
        </div>

        <button *ngIf="cpOptions.cancelButton" type="button" (click)="cancelColor()">{{cpOptions.cancelButtonText}}</button>
    </div>
    <div class="input-wrap">
        <div [hidden]="format!=2" class="hsla-text">
            <div class="flex-wrap">
                <div>
                    <input [text] type="number" pattern="[0-9]*" min="0" max="360" [rg]="360" (newValue)="setHue($event)" [value]="hslaText.h"
                    />
                    <br/>H
                </div>
                <div>
                    <input [text] type="number" pattern="[0-9]*" min="0" max="100" [rg]="100" (newValue)="setSaturation($event)" [value]="hslaText.s"
                    />
                    <br/>S
                </div>
                <div>
                    <input [text] type="number" pattern="[0-9]*" min="0" max="100" [rg]="100" (newValue)="setLightness($event)" [value]="hslaText.l"
                    />
                    <br/>L
                </div>
                <div *ngIf="cpOptions.alpha">
                    <input [text] type="number" pattern="[0-9]+([\.,][0-9]{1,2})?" min="0" max="1" step="0.1" [rg]="1" (newValue)="setAlpha($event)"
                        [value]="hslaText.a" />
                    <br/>A
                </div>
            </div>
        </div>

        <div [hidden]="format!=1" class="rgba-text">
            <div class="flex-wrap">
                <div>
                    <input [text] type="number" pattern="[0-9]*" min="0" max="255" [rg]="255" (newValue)="setR($event)" [value]="rgbaText.r"
                    />
                    <br/>R
                </div>
                <div>
                    <input [text] type="number" pattern="[0-9]*" min="0" max="255" [rg]="255" (newValue)="setG($event)" [value]="rgbaText.g"
                    />
                    <br/>G
                </div>
                <div>
                    <input [text] type="number" pattern="[0-9]*" min="0" max="255" [rg]="255" (newValue)="setB($event)" [value]="rgbaText.b"
                    />
                    <br/>B
                </div>
                <div *ngIf="cpOptions.alpha">
                    <input [text] type="number" pattern="[0-9]+([\.,][0-9]{1,2})?" min="0" max="1" step="0.1" [rg]="1" (newValue)="setAlpha($event)"
                        [value]="rgbaText.a" />
                    <br/>A
                </div>
            </div>
        </div>

        <div [hidden]="format!=0" class="hex-text">
            <div class="flex-wrap">
                <div>
                    <input [text] (newValue)="setColorFromString($event)" [value]="hexText" />
                    <br/>Hex
                </div>
            </div>
        </div>

        <div (click)="formatPolicy()" class="type-policy"></div>
    </div>
</div>